.body {
    text-align: center;
    background-image: url('components/shoestore.jpg');
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

.App-margin {
    text-align: center;
    color: lawngreen;
}

.center {
    align-items: center;
    align-content: center;
}